/* =Basic HTML
--------------------------------------------------------------------------------*/
/*

body
{
	font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

a:focus
{
	outline: 1px dotted invert;
}
*/

