[% INCLUDE header.tt %]

      <div id="secondHeader">
        <div class="grid_9 prefix_1">
           <h1>Frequently Asked Questions</h1>
        </div>
        <div style="height:0px" class="clear"></div>
      </div>

[% INCLUDE footer.tt %]


